/*This is the borders and margins for entire html.*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*This is the background color for the body.*/
body {
    background-color: #d9dcd6;
}

/*This is the main navigation header font, color and padding.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This is the main header.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This is the middle of the main header, different color.*/
.header h1 .seo {
    color: #d9dcd6;
}

/*This is the navigation bar styling.*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}



/*This is the navigation bar block element.*/
.header div ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/*This is the navigation bar text color.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*This is the hero image and sizing.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*This is the main section block values.*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*This is the text placement relative to the image in the main section.*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*This is the text placement relative to the image in the main section.*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*This is the font size for the content in the main section.*/
p {
    font-size: 16px;
}

/*This is the main section block elements.*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*This is the main section image height.*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*This is the main section header values.*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*This is the aside block values.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/*This is the aside margin and color.*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*This is the aside header values.*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*This is the aside image values.*/
.benefit-lead img, .benefit-brand img, .benefit-cost img  {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*This is the footer text and padding values.*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*This is the footer font size.*/
.footer h2 {
    font-size: 20px;
}
